:root {
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #868e96;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --link-color: black;
  --link-hover: #adb5bd;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Arvo", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Arvo", "Courier New",
    monospace;
}

h1,
h2,
h3,
h4 {
  font-size: 1.45rem;
}

h4 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

/* Smartphones (portrait) ----------- */

/* Very small Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  h1 {
    font-size: 4rem;
    line-height: 4.5rem;
  }

  h2,
  h3,
  h4 {
    font-size: 2rem;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  h1,
  h2,
  h3,
  h4 {
    font-size: 2rem;
  }
}
