.carousel-container {
  position: relative;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}

.slide-image {
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide {
  opacity: 0;
  transition-duration: 1.5s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1.5s;
  transform: scale(1.08);
}

.image-content {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.img-btn {
  background: hsl(200, 26%, 29%);
  border-color: #fff;
  margin: 0;
  margin-top: 2rem;
  color: #fff;
}

/* Smartphones (portrait) ----------- */
.arrow-icon {
  display: none;
}

/* Very small Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  .carousel-container {
    height: 60vh;
  }

  .slide-image {
    height: 60vh;
  }

  .image-content {
    width: 250px;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .image-content {
    width: 400px;
  }

  .arrow-icon {
    padding: 0.875rem 1rem !important;
  }
}

/* Desktops laptops and iPads----------- */
@media only screen and (min-width: 768px) {
  .arrow-icon {
    display: block;
    position: absolute;
    top: 50%;
    padding: 4px 6px;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    border: 1px solid #fff;
    background-color: black;
  }

  .arrow-icon:hover {
    background-color: var(--link-hover);
  }

  .left {
    left: 32px;
  }

  .right {
    right: 32px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .carousel-container {
    height: 91vh;
  }

  .slide-image {
    height: 100%;
  }

  .image-content {
    text-align: none;
    width: 400px;
    top: 20%;
    right: 2%;
    transform: translate(25%, 40%);
  }
}
