.navbar {
  display: none;
  background-color: #fff;
}

.nav-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 1rem;
}

.nav-link {
  font-size: 16px;
  margin-right: 1rem;
}

.nav-link:hover:not(.current) {
  color: var(--link-hover);
}

.current {
  color: var(--link-hover);
}

@media only screen and (min-width: 780px) {
  .navbar {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 0.1px solid lightgray;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
  }
}
