/* Smartphones (portrait) ----------- */
.perkSpan {
  color: orange;
  font-size: 48px;
}

/* Very small Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  .perkSpan {
    color: green;
    font-size: 38px;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .perkSpan {
    color: purple;
    font-size: 28px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .perkSpan {
    color: red;
    font-size: 20px;
  }
}
